$maincolor: #0d0d0d;
:root {
	--white: #fff;
}

html.darkmode {
	background-color: $maincolor;
	color: #fff;
	--white: #000;
	body {
		background-color: $maincolor;
		color: #fff;
	}
	.row-layout-background.jsx-1166966984,
	.main-body,
	.side-bar-wrapper.jsx-2836134785,
	.discover-list.jsx-587759948 .discover-item-container.jsx-587759948,
	.comment-input-inner-wrapper.jsx-2190728513,
	.comment-post-outside-container.jsx-3148321798,
	.comment-input-inner-wrapper .editor .public-DraftEditorPlaceholder-root .public-DraftEditorPlaceholder-inner,
	.content-container.jsx-3148321798,
	.comment-container.jsx-3148321798,
	.tiktok-modal__modal-wrapper {
		background-color: $maincolor !important;
	}
	.header-container.middle.jsx-3164683951 {
		background-color: lighten($maincolor, 10%);
	}
	.discover-list.jsx-587759948 .discover-item-container.jsx-587759948,
	.em-follow.side-bar-container.jsx-662949185 .nav-wrapper.jsx-662949185 .nav-item.jsx-662949185 .nav-name.jsx-662949185,
	.em-follow.side-bar-container.jsx-662949185 .user-list-header.jsx-662949185 {
		color: #fff !important;
	}
	.copy-link-container.jsx-2335988431 .link-container.jsx-2335988431 {
		color: rgba(#fff, 0.75);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	p,
	span,
	strong {
		color: #fff;
	}
	.share-header .share-desc {
		color: rgb(237, 237, 237);
	}
	.jsx-1578783174.popup {
		background-color: lighten($maincolor, 10%);
		color: #fff;
	}
	.jsx-662949185.nav-icon[fill="#161823"],
	.option.jsx-4177598563 {
		fill: #fff;
	}
	.video-feed-container.jsx-1860510881 .recommend-feed-title.jsx-1860510881 {
		color: invert(rgb(22, 24, 35));
	}
	.error-page.jsx-1438362720 .title.jsx-1438362720 {
		color: invert(rgb(18, 18, 18));
	}
	.discover-list.jsx-587759948 .discover-item-container.jsx-587759948 .item-text.jsx-587759948 {
		color: invert(rgba(22, 24, 35, 0.75));
	}
	.tiktok-btn-pc-line {
		color: #000;
	}
	.option.jsx-4177598563 {
		color: #fff;
		.option.jsx-4177598563 i.jsx-4177598563 {
			color: invert(#161823);
		}
	}
	.video-feed-item.jsx-1938618282 .feed-item-content.jsx-1938618282 .item-follow-wrapper .follow-button {
		color: #fff;
		background-color: $maincolor;
		&:hover {
			background-color: lighten($maincolor, 10%);
		}
	}
	.error-page.jsx-1438362720 .desc.jsx-1438362720 {
		color: invert(rgba(18, 18, 18, 0.75));
	}
}
