$maincolor: #0d0d0d;
:root {
	--white: #fff;
}

html.plusplus.darkmode {
	background-color: $maincolor;
	color: #fff;
	--white: #000;
	body {
		background-color: $maincolor;
		color: #fff;
	}
	.row-layout-background.jsx-1166966984,
	.main-body,
	.side-bar-wrapper.jsx-2836134785,
	.discover-list.jsx-587759948 .discover-item-container.jsx-587759948,
	.comment-input-inner-wrapper.jsx-2190728513,
	.comment-post-outside-container.jsx-3148321798,
	.comment-input-inner-wrapper .editor .public-DraftEditorPlaceholder-root .public-DraftEditorPlaceholder-inner,
	.content-container.jsx-3148321798,
	.comment-container.jsx-3148321798,
	.tiktok-modal__modal-wrapper {
		background-color: $maincolor !important;
	}
	.jsx-1925343495.header-container.middle {
		background-color: lighten($maincolor, 10%);
	}
	.discover-list.jsx-587759948 .discover-item-container.jsx-587759948,
	.em-follow.side-bar-container .nav-wrapper.jsx-662949185 .nav-item.jsx-662949185 .nav-name.jsx-662949185,
	.em-follow.side-bar-container .user-list-header {
		color: #fff !important;
	}
	.copy-link-container.jsx-2335988431 .link-container.jsx-2335988431 {
		color: rgba(#fff, 0.75);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	p,
	span,
	strong {
		color: #fff;
	}
	.share-header .share-desc {
		color: rgb(237, 237, 237);
	}
	.popup,
	.more-popup {
		background-color: lighten($maincolor, 10%) !important;
	}
	.popup *,
	.more-popup * {
		color: #fff !important;
	}
	.jsx-2315075850.nav-icon[fill="#161823"] {
		fill: #fff !important;
	}
	.video-feed-container.jsx-1860510881 .recommend-feed-title.jsx-1860510881 {
		color: invert(rgb(22, 24, 35));
	}
	.error-page.jsx-1438362720 .title.jsx-1438362720 {
		color: invert(rgb(18, 18, 18));
	}
	.discover-list.jsx-587759948 .discover-item-container.jsx-587759948 .item-text.jsx-587759948 {
		color: invert(rgba(22, 24, 35, 0.75));
	}
	.tiktok-btn-pc-line {
		color: #000;
	}
	.option.jsx-2570553545 {
		color: #fff;
		i.jsx-2570553545 {
			color: invert(#161823);
		}
	}
	.video-feed-item.jsx-1938618282 .feed-item-content.jsx-1938618282 .item-follow-wrapper .follow-button,
	.user-info.jsx-2829469314 .follow-button {
		color: #fff;
		background-color: $maincolor;
		&:hover {
			background-color: lighten($maincolor, 10%);
		}
	}
	.error-page.jsx-1438362720 .desc.jsx-1438362720 {
		color: invert(rgba(18, 18, 18, 0.75));
	}
	.comment-pc.jsx-365602788 .comment-text.jsx-365602788 .comment-time.jsx-365602788 {
		color: invert(rgba(18, 18, 18, 0.5));
	}
	.copy-link-container.jsx-2335988431 .copy-container.jsx-2335988431 .word-link.jsx-2335988431 {
		color: invert(rgb(22, 24, 35));
	}
	.profile-card-container.jsx-2083467628 {
		background-color: #000;
		color: #fff;
	}
	.nav-item.jsx-2315075850:not(.active) .nav-name.jsx-2315075850 {
		color: invert(#161823);
	}
	.side-bar.jsx-2315075850 .user-list-header {
		color: invert(rgba(22, 24, 35, 0.75));
	}
	.bottom-wrapper.jsx-2315075850 .copyright.jsx-2315075850,
	.bottom-wrapper.jsx-2315075850 .more-word.jsx-2315075850,
	.bottom-wrapper.jsx-2315075850 a.jsx-2315075850 {
		color: invert(rgba(22, 24, 35, 0.5)) !important;
	}
	//! Message
	.jsx-3867589354.desktop-container {
		background: invert(rgb(248, 248, 248));
	}
	.conversation-container.jsx-3025142955,
	.conversation-list-wrapper,
	.embed.jsx-3011359469 {
		background: #000;
	}
	.em-follow.side-bar-container .user-item-inner .user-desc {
		color: invert(rgba(22, 24, 35, 0.75)) !important;
	}
	textarea[readonly].jsx-3011359469 {
		background: #000;
		color: #fff;
	}
	.embed.jsx-3011359469 .embed-desc.jsx-3011359469 {
		color: invert(rgba(22, 24, 35, 0.5));
	}
	//? Endİf
	.option.jsx-2570553545 i.jsx-4177598563 {
		color: invert(#161823);
	}
	.option.jsx-2570553545:hover {
		background: invert(rgba(22, 24, 35, 0.3));
	}
	.app-promotion.jsx-3128248810 .promotion-expand.jsx-3128248810 {
		background: #000;
		border-color: invert(rgba(22, 24, 35, 0.12));
		.promotion-text-container.jsx-3128248810:hover {
			background: invert(rgba(22, 24, 35, 0.3));
		}
	}
	.row-layout-nav.jsx-855016746 .row-nav-scroll.jsx-855016746 {
		background: #000;
		box-shadow: 0 2px 8px rgba(255, 255, 255, 0.6);
	}
	.row-layout-nav.jsx-855016746 .row-layout-nav-item.jsx-855016746 span.jsx-855016746 {
		color: invert(#161823);
	}
	.row-layout-nav.jsx-855016746 .row-layout-nav-item.jsx-855016746 svg {
		fill: invert(#161823);
	}
	svg.jsx-3359950850.logo-icon path[fill="black"] {
		fill: #fff;
	}
	.nav-item.active.jsx-808409778 .nav-name.jsx-808409778 {
		color: #fe2c55;
	}
}
