@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
.text-muted {
	color: #6c757d !important;
}
.jsx-1166966984.description {
	font-size: 13px;
	line-height: 15px;
	position: absolute;
	margin-top: 25px;
	margin-left: 17px;
}
a.jsx-3359950850.logo-link::after {
	position: absolute;
	font-size: 29px;
	content: "++";
	line-height: 1;
	text-shadow: -2px 1px #fe2c55;
	filter: drop-shadow(-1px -1px #25f4ee);
}
